name: iOS Build
on: workflow_dispatch
jobs:
  Build:
    runs-on: macos-14
    permissions:
        contents: write
        actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          submodules: true

      - name: Setup Haxe
        uses: krdlab/setup-haxe@8f35d1215b93e940a76f9470e22e8a5ba6149598
        with:
          haxe-version: 4.2.5

      - name: Restore Previous Cache
        id: cache-debug-build-android-restore
        uses: actions/cache/restore@main
        with:
          path: |
            .haxelib/
            export/release/ios/haxe/
            export/release/ios/obj/
          key: cache-ios-build

      - name: Installing Libraries
        run: |
          haxelib setup ~/haxelib
          haxelib install hmm --quiet
          haxelib run hmm install --quiet
          haxelib run lime setup ios
          haxelib run lime rebuild extension-webm ios
          haxelib run lime rebuild hxcpp

      - name: Building
        run: haxelib run lime build android -nosign -final

      - name: Make iPA
        run: |
          brew install ldid
          cd export/release/ios/build/Release-iphoneos/Vs. Tricky.app
          ldid -S../../../Vs. Tricky/Vs. Tricky.entitlements Vs. Tricky
          cd ..
          mkdir Payload
          mv Vs. Tricky.app Payload
          zip -r Vs. Tricky.ipa Payload

      - name: Clear Previous Cache
        uses: actions/github-script@main
        with:
          script: |
            try {
            	const caches = await github.rest.actions.getActionsCacheList({
            		owner: context.repo.owner,
            		repo: context.repo.repo,
            	})
            	if (typeof caches.data.actions_caches != null && caches.data.actions_caches.length > 0) {
            		for (const cache of caches.data.actions_caches) {
            			if (cache.key == "cache-ios-build") {
            				console.log('Clearing ' + cache.key + '...')
            				await github.rest.actions.deleteActionsCacheById({
            					owner: context.repo.owner,
            					repo: context.repo.repo,
            					cache_id: cache.id,
            				})
            				console.log("Previous Cache Cleared!")
            			}
            		}
            	}
            } catch (error) {
            	console.log(error.message);
            }

      - name: Save Current Cache
        id: cache-release-build-android-save
        uses: actions/cache/save@main
        with:
          path: |
            .haxelib/
            export/release/ios/haxe/
            export/release/ios/obj/
          key: cache-android-build

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: Tricky iOS
          path: export/release/ios/build/Release-iphoneos/*.ipa
          if-no-files-found: warn
